
#header{
	
}

p {
	text-align: left;
	color: black;
	font-family: "Times New Roman", Times, serif;
}


ul {
  list-style-type: none;
}

a {
	text-decoration: none;
}

th {
	text-align: left;
	padding-left: 50px;
	padding-bottom: 80px;
	color: black;
}

#sumHeight{
	padding-bottom: 150px;
}

#skilHeight{
	padding-bottom: 260px;
}

#eduHeight{
	padding-bottom: 160px;
}

#workHeight{
	padding-bottom: 180px;
}

#certHeight{
	padding-bottom: 180px;
}

#langHeight{
	padding-bottom: 150px;
}

img {
	padding-left: 20px;
	padding-top: 20px;
	height: 110px;
	width: 100px;
}

li {
	text-align: left;
	color: black;
}

#sumList {
	text-align: left;
	color: black;
	margin-left: 100px;
	padding-bottom: 60px;
}

#skList {
	text-align: left;
	color: black;
	margin-left: 130px;
}

#eduList {
	text-align: left;
	color: black;
	margin-left: 100px;
}

#workList {
	text-align: left;
	color: black;
	margin-left: 20px;
}

#certList {
	text-align: left;
	color: black;
	margin-left: -100px;
}

#othList {
	text-align: left;
	color: black;
	margin-left: 70px;
	padding-bottom: 60px;
}

#center{
	background-color:  #bfbfbf;
	height: 1750px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	text-align: center;
	color: white;
}

button {
	margin-top: 20px;
}

#futer{
	text-align: center;
	color: white;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
