
#header{
	
}

p {
	text-align: right;
	margin-right: 100px;
	color: black;
	font-family: "Times New Roman", Times, serif;
}

ul {
  list-style-type: none;
}

a {
	text-decoration: none;
}

th {
	text-align: left;
	padding-left: 50px;
	padding-bottom: 100px;
	color: black;
}

img {
	padding-left: 20px;
	padding-top: 20px;
	height: 110px;
	width: 100px;
}

li {
	text-align: left;
}

#center{
	background-color:  #bfbfbf;
	height: 1300px;
	width: 65%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	text-align: center;
	color: white;
}

button {
	margin-top: 20px;
}

#futer{
	text-align: center;
	color: white;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 